<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Hotel Recommendation System
        </title>
        <link rel="icon" href="C:\Users\prasa\Downloads\fav.ico">
        <link rel="stylesheet" href="../static/sample.css">
    </head>
    <body>
        <div id="head">
            <div style="background-color: rgba(255,255,255,0.7); padding: 20px; border-radius: 30px;">
                <h1>Hotel Recommendation</h1>
                <p>Discover your perfect stay with just a click.<br>Welcome to effortless hotel hunting.</p>
                <div style="display:flex; justify-content: space-around;padding: 15px;">
                    <a href="/logsign.html">Login</a>
                    <a href="/logsign.html?signup=true">Signup</a>
                </div>
            </div>
        </div>
    </body>
</html>